DISCORD_TOKEN=your-bot-token-here
DISCORD_CHANNEL_ID=your-channel-id-here
DEBUG_MODE=0
SPECIAL_USER_ID=your-special-user-id-here
BOT_ROLE_ID=1208193044550123621
HOT_TAKE_ADMIN_ROLE_ID=1122000921572933653
